<%- header(pjax, user, 'post') %>
<h1>文章 <a href="post/new" class="page-title-action">写文章</a></h1>
<ul class="horizontal">
    <li class="all"><a href="/post" class="current">全部<span class="count">（<%= totalCount %>）</span></a> |</li>
    <li class="publish"><a href="/post?statue=publish">已发布<span class="count">（<%= publishCount %>）</span></a> |</li>
    <li class="draft"><a href="/post?statue=draft">草稿<span class="count">（<%= draftCount %>）</span></a> |</li>
    <li class="trash"><a href="/post?delete=1">回收站<span class="count">（<%= deleteCount %>）</span></a></li>
    <li class="selecr">
        <select>
            <option value="">所有分类</option>
            <% for(var i = 0;i < categories.length;i++){ %>
            <option value="<%= categories[i].id %>" <% if(category == categories[i].id){ %>selected="selected"
                    <% } %>
            ><%= categories.name %></option>
            <% } %>
        </select>
    </li>
</ul>
<p class="search-box">
    <label class="screen-reader-text" for="post-search-input">搜索文章:</label>
    <input type="search" id="post-search-input" name="s" value="">
    <input type="submit" id="search-submit" class="button" value="搜索文章">
</p>
<table id="post" class="table table-bordered">
    <thead>
    <tr>
        <th>标题</th>
        <th>作者</th>
        <th>分类</th>
        <th>标签</th>
        <th>日期</th>
    </tr>
    </thead>
    <tbody class="table-striped">
    <% for(var i = 0;i < posts.length;i++){ var single = posts[i]; %>
    <tr>
        <td>
            <strong>
                <% if(single.deletedAt){ %>
                <%= single.title %>
                <% }else { %>
                <a href="/post/edit/<%= single.id %>"><%= single.title %></a>
                <% } %>
                <% if(single.statue == 'draft'){ %>
                —— <span>草稿</span>
                <% } %>
            </strong>
        </td>
        <td>
            <a href="/post?author=<%= single.author %>"><%= single.author %></a>
        </td>
        <td>
            <a href="/post?category=<%= single.category %>"><%= categoryMap[single.category] %></a>
        </td>
        <td>
            <%= single.tags %>
        </td>
        <td>
            "最后修改"
            <br>
            <abbr><%= single.updatedAt %></abbr>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
<%- footer(pjax) %>
</body>
</html>